version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: midb
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

  prisma-migrate:
    image: miguelhuayhua/nextjs-app:latest
    container_name: prisma-migrate
    command: sh -c "npx prisma db push"
    environment:
      DATABASE_URL: postgresql://admin:admin123@postgres:5432/midb
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

  nextjs:
    image: miguelhuayhua/nextjs-app:latest
    container_name: nextjs
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://admin:admin123@postgres:5432/midb
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: admin123
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: pk_test_dXAtc2Vhc25haWwtODguY2xlcmsuYWNjb3VudHMuZGV2JA
      CLERK_SECRET_KEY: sk_test_cnUXAQcD5vA5vsCcEcYxoObEwSyt1nWEXmDG2gGNSw
      NEXT_PUBLIC_CLERK_SIGN_IN_URL: /
      BILLING_PLAN_ENV: dev
      NODE_ENV: production
    depends_on:
      prisma-migrate:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      minio:
        condition: service_started

volumes:
  postgres-data:
  minio-data: